.task-item {display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;}
.task-item p {margin-bottom: 0; font-size: 1.1em;}
.task-done {text-decoration: line-through;}
.task-important {font-weight: 600; color: var(--bs-primary);}

@media(max-width: 575px) {
    .list-group-item {padding: .4rem .4rem;}
}

.task-content {flex: 1 1 auto; align-self: center;}
.task-content span {cursor: pointer; user-select: none;}
.task-controls {flex: 0 0 auto;}

@media(max-width: 575px) {
    .task-content p {font-size: 14px;}
}