.task-container {
    padding: 0 10px;
}
.todo-outer-block {margin:0 auto; max-width: 800px;}
@media(max-width: 575px) {
    .form-control {padding-left: .4rem; padding-right: .4rem;}
}

.input-edit-task {font-size: 1.1em;}

@media(max-width: 575px) {
    .input-edit-task {font-size: 14px;}
}



