.form-add-task {display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap; width: 100%;}
.input-add-task {flex:1 1 auto; display: block; min-width: 0;}
.btn-add-task {flex:0 0 auto;}